*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

body{
	background: #dfe4ea;
}

/*Se reparte las areas del grid que contiene toda la pagina*/
.grid{
	width: 100%;
	height: 100%;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(4,auto);
	grid-template-areas: "header"
						"nav"
						"opciones"
						"main";
}

/*El header contiene el logo y el nombre del usuario con fondo de color rojo*/
.grid .header{
	grid-area: header;
	background: #C80000;
	height: 60px;
	display: grid;
	grid-template-columns: minmax(10px,20px) minmax(40px,46px) 100px minmax(0px,130px) 1fr 20px minmax(20%,30%);
}

/*Centrar los elementos*/
.grid .header .logo1,
.grid .header .logo2,
.grid .header .logo3,
.grid .header .usuario{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Esto es para escudo del perú*/
.grid .header .logo1{
	grid-column: 2/3;
}


.grid .header .logo1 img{
	width: 46px;
	min-width: 40px;
}

/*Esto es para gob.pe*/
.grid .header .logo2{
	margin: 10px;
	padding-right: 10px;
	border-right: 2px solid;
}

/*Esto es para SIMINSA*/
.grid .header .logo3 h2{
	font-size: 30px;
}

/*Esto es para usuario*/
.grid .header .usuario{
	grid-column: 7/-1;
	background:#D63031; 
}

.grid .header .usuario:hover{
	background-color: #DB3A42;
}

/*El nav contiene las opciones registrar, monitorear y prevenir en fondo azul*/
.grid .nav{
	grid-area: nav;
	background:#283342;
	height: 60px;
	display: grid;
	grid-template-columns: repeat(8,1fr); 
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.45);
}

/*Centrar los elementos*/
.grid .nav .registrar,
.grid .nav .monitorear,
.grid .nav .prevenir,
.grid .nav .cerrar_sesion{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px; 

}

.grid .nav .registrar{
	grid-column: 5/6;
}

.grid .nav .registrar:hover,.grid .nav .monitorear:hover,.grid .nav .prevenir:hover,.grid .nav .cerrar_sesion:hover{
	background-color: #2F3B49;
	border-radius: 30px ;
}

.grid .nav .monitorear{
	grid-column: 6/7;
}

.grid .nav .prevenir{
	grid-column: 7/8;
}
.grid .nav .cerrar_sesion{
	grid-column: 8/9;
}

/*Se le quita el formato a los links*/
.grid .nav .registrar a,
.grid .nav .monitorear a,
.grid .nav .prevenir a,
.grid .nav .cerrar_sesion a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

/*Esto es solo SELECCIONE UNA OPCIÓN*/
.grid .opcion{
	grid-area: opciones;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	height: 50px;
}

/*Centrar los elementos y aplicar gradiente*/
.grid .opcion .opc{
	grid-column: 2/3;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(to right, #38ef7d, #11998e);
	border-radius: 0px 0px 20px 20px;
	font-size: 11px;
	letter-spacing: 5px;
}

/*Esto es para las cartillas registrar, monitorear y prevenir*/
.grid .main{
	padding-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	grid-gap: 100px;
}

.card{
	position: relative;
	background-color: #0a3d62;
	width: 200px;
	height: 300px;
}

/*Se aplica los efectos a la imagen*/
.card .imagen{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.5s ease-in-out;
	z-index: 2;
	display: flex;
	align-items: flex-end;

}

.card:hover .imagen{
	transform: translate(0,100px);

}

.card .imagen img{
	position: relative;
	width: 100%;
	height: 90%;
	object-fit: cover;
}

/*Se aplica los efectos a las letras*/
.card .contenido{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: 0.5s ease-in-out;
}

.card:hover .contenido{
	transform: translate(0px,35px);
}

/*Se configura el titulo de las cartillas REGISTRAR, MONITOREAR Y PREVENIR*/
.contenido h3{
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
	border-bottom: 3px solid #ced6e0;
}

/*Se modifica el contenido*/
.contenido p{
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
}

@media screen and (max-width: 768px){

	/*Se elimina SIMINSA del header para acortar espacio*/
	.grid .header .logo3{

		display: none;
	}

	/*Se modifica el nav para que registrar, monitorear y prevenir ocupen toda la linea*/
	.grid .nav{
		grid-template-columns: repeat(3,1fr);
	}

	.grid .nav .registrar{
		grid-column: 1/2;
	}

	.grid .nav .monitorear{
		grid-column: 2/3;
	}

	.grid .nav .prevenir{
		grid-column: 3/4;
	}

	/*Se modifica la palabra SELECCIONE UNA OPCIÓN para que ocupe toda la linea*/
	.grid .opcion{
		grid-template-columns: repeat(1,1fr);

	}

	.grid .opcion .opc{
			grid-column: 1/2;
	}

	/*Se acomodan las cartillas*/
	.grid .main .card{
		grid-gap: 90px;
		margin-bottom: 30px;
	}
}	