<!DOCTYPE html>
<html>
<head>
	<title>SIMINSA</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/estiloInicio.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Noto+Sans+JP:wght@500&family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
	<div class="grid">
		<header class="header">
			<div class="logo1">
				<img src="{{url_for('static', filename='images/logo.png')}}">
			</div>
			<div class="logo2">
				<h2>gob.pe</h2>
			</div>
			<div class="logo3">
				<h2>SIMINSA</h2>
			</div>
			<div class="usuario">
				<h2>Usuario: {{nombre}} {{apellido}}</h2>
			</div>
		</header>

		<nav class="nav">
			<div class="registrar">
				<a href="">Registrar</a>
			</div>
			<div class="monitorear">
				<a href="">Monitorear</a>
			</div>
			<div class="prevenir">
				<a href="">Prevenir</a>
			</div>
		</nav>

		<div class="opcion">
			<div class="opc">
				<h2>SELECCIONE UNA OPCIÓN</h2>
			</div>
		</div>

		<main class="main">
			<div class="card registrar" onclick="window.location='';">
				<div class="imagen">
					<img src="{{url_for('static', filename='images/registra.jpeg')}}">
				</div>
				<div class="contenido">
					<h3>REGISTRAR</h3>
					<p>Registrar y actualizar datos de los pacientes</p>
				</div>
			</div>
			<div class="card monitorear" onclick="window.location='';">
				<div class="imagen">
					<img src="{{url_for('static', filename='images/monitorea.jpeg')}}">
				</div>
				<div class="contenido">
					<h3>MONITOREAR</h3>
					<p>Monitorear a los pacientes</p>
				</div>
			</div>
			<div class="card prevenir" onclick="window.location='';">
				<div class="imagen">
					<img src="{{url_for('static', filename='images/previene.jpeg')}}">
				</div>
				<div class="contenido">
					<h3>PREVENIR</h3>
					<p>Prevenir nuevos contagios</p>
				</div>
			</div>
		</main>

	</div>
</body>
</html>