<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Noto+Sans+JP:wght@500&family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <main class="main">
        <section>
            <h1>Login</h1>
            <form class="form" method="POST">
                <p class="form__input">
                    <label for="entry" class="user__label">Usuario:</label>
                    <textarea name="usuario" id="user_entry" class="form__textarea"></textarea>
                    <label for="entry" class="DNI__label">DNI:</label>
                    <textarea name="dni_number" id="dni_entry" class="form__textarea"></textarea>
                </p>
                <button type="submit" class="form__submit">Ingresar</button>
            </form>
        </section>
    </main>
</body>
</html>