<!DOCTYPE html>
<html>
<head>
	<title>SIMINSA</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/estiloMonitorear.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Noto+Sans+JP:wght@500&family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
	<div class="grid">
		<header class="header">
			<div class="logo1">
				<img src="../static/images/logo.png">
			</div>
			<div class="logo2">
				<h2>gob.pe</h2>
			</div>
			<div class="logo3">
				<h2>SIMINSA</h2>
			</div>
			<div class="usuario">
				<h2>Usuario:{{nombre}} {{apellido}}</h2>
			</div>
		</header>
	<div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav__brand">
                        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                        <h2>SIMINSA</h2>
                    </div>
                    <div class="nav__list">
						<div  class="nav__link collapse">
                            <img src="../static/images/icono1.png">
                            <span class="nav__name">Registrar</span>
                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>
                            <ul class="collapse__menu">
                                <a href="#" class="collapse__sublink">Datos</a>
                                <a href="#" class="collapse__sublink">Síntomas</a>
                                <a href="#" class="collapse__sublink">Inmunizaciones</a>
                            </ul>
                        </div>
                        <div class="nav__link collapse">
                            <img src="../static/images/icono2.png">
                            <span class="nav__name">Monitorear</span>
                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>
                            <ul class="collapse__menu">
                                <a href="#" class="collapse__sublink">Buscar</a>
                                <a href="#" class="collapse__sublink">Datos</a>
                                <a href="#" class="collapse__sublink">Reporte</a>
                            </ul>
                        </div>
                        <div href="#" class="nav__link">
							<img src="../static/images/icono3.png">
                            <span class="nav__name">Prevenir</span>
                        </div>
                    </div>
                </div>
                <div href="#" class="nav__link">
                    <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                    <span class="nav__name">Cerrar sesión</span>
                </div>
            </nav>
        </div>
        <!-- ===== IONICONS ===== -->
        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
        <!-- archivo java script -->
        <script src="{{url_for('static', filename='javaScript/jsRegistrar.js')}}"></script>


		<main class="main">
			<div class="titulo">
				<h1>MONITOREAR</h1>
			</div>
			<div class="subtitulo1">
				<h2>Buscar paciente</h2>
			</div>
			<div class="buscar">
				<form class="form" method="POST">
					<div class="box dni">
						<label>DNI</label>
						<input type="text" name="dnibuscar" value="{{dni_buscar}}" required="" pattern="[0-9]{8}" title="Debe poner 8 números">
                    </div>
                    <div class="box dni">
						<label>Estado</label>
						<input type="text" name="estadobuscar" value="{{estado_buscar}}" required="" pattern="[0-9]{8}" title="Debe poner 8 números">
					</div>
					<div class="boxb buscarb" style="height: 100px;width: 185px;padding-left: 390px;">
						<input type="submit" name="boton" value="Buscar"></input>
					</div>
				</form>
			</div>
			<form class="formulario" method="POST" style="height:1800px">
				<div class="subtitulo2">
					<h2>Datos del paciente</h2>
				</div>
				<div class="datos">
					<div class="form" style="height:350px;">
						<div class="box nombre1">
							<label>Nombres y Apellidos</label>
							<input type="text" name="nombresapellidos" value="{{nombresapellidos_p}}" required="">
						</div>
						<div class="box nombre2">
							<label>Dirección</label>
							<input type="text" name="direccion" value="{{direccion_p}}" required="">
						</div>
                        <div class="box genero">
							<label>Género</label>
							<select class="select genero" name="genero">
								<option value="" disabled selected><!-- Choose your option --></option>
								<option value="Masculino" {{M}}>Masculino</option>
								<option value="Femenino" {{F}}>Femenino</option>
							</select>
						</div>
                        <div class="box telefono">
							<label>Teléfono</label>
							<input type="texto" name="telefono" value="{{telf_p}}" required="" pattern="[0-9]{9}" title="Debe poner 9 números">
						</div>
                        <div class="box fecha">
							<label>Fecha de nacimiento</label>
							<input type="date" name="fecha_nacimiento" value="{{fechana_p}}" required="">
						</div>
                        
                        <div class="box fecha">
							<label>Estado</label>
							<input type="text" name="estado" value="{{estado_p}}" required="">
						</div>
                        
                        
					</div>
				</div>
				<div class="subtitulo3">
					<h2>Síntomas</h2>
				</div>
				<div class="sintomas">
					<div class="form">
						<div class="box op1">
							<input type="checkbox" name="s1" {{s1_p}}>
							<label>Dificultad para respirar o sensación de falta de aire.</label>
						</div>
						<div class="box op2">
							<input type="checkbox" name="s2" {{s2_p}}>
							<label>Dolor o presión en el pecho.</label>
						</div>
						<div class="box op3">
							<input type="checkbox" name="s3" {{s3_p}}>
							<label>Cansancio.</label>
						</div>
						<div class="box op4">
							<input type="checkbox" name="s4" {{s4_p}}>
							<label>Incapacidad para hablar o moverse.</label>
						</div>
						<div class="box op5">
							<input type="checkbox" name="s5" {{s5_p}}>
							<label>Pérdida del sentido del olfato o del gusto.</label>
						</div>
						<div class="box op6">
							<input type="checkbox" name="s6" {{s6_p}}>
							<label>Fiebre.</label>
						</div>
						<div class="box op7">
							<input type="checkbox" name="s7" {{s7_p}}>
							<label>Tos seca.</label>
						</div>
						<div class="box op8">
							<textarea class="form-control" rows="3" type="textbox" id="otros" name="otros" value="{{otros_p}}" placeholder="Otros"></textarea>
						</div>
					</div>
				</div>
				<div class="subtitulo4">
					<h2>Inmunizaciones</h2>
				</div>
				<div class="inmunizaciones">
					<div class="form" style="height:470px;">
						<div class="box titulo1" style="width:90%;">
							<h3>Primera dosis</h3>
						</div>
						<div class="box estado1">
							<label>Estado Primera Dosis</label>
							<select class="select estado1" name="estado_vacuna1">
								<option value="" disabled selected><!-- Choose your option --></option>
								<option value="Recibida" {{estado1_v}}>Recibida</option>
								<option value="No recibida" {{estado2_v}}>No recibida</option>
								<option value="Programada" {{estado3_v}}>Programada</option>
							</select>
						</div>
						<div class="box fecha1">
							<label>Fecha</label>
							<input type="date" name="fecha_vacuna1" value="{{fv1}}">
                        </div>
						<div class="box titulo2">
							<h3>Segunda dosis</h3>
						</div>
						<div class="box estado2">
							<label>Estado Segunda Dosis</label>
							<select class="select estado2" name="estado_vacuna2">
								<option value="" disabled selected><!-- Choose your option --></option>
								<option value="Recibida" {{estado4_v}}>Recibida</option>
								<option value="No recibida" {{estado5_v}}>No recibida</option>
								<option value="Programada" {{estado6_v}}>Programada</option>
							</select>
						</div>
						<div class="box fecha2">
							<label>Fecha</label>
							<input type="date" name="fecha_vacuna2" value="{{fv2}}">
						</div>
				
					</div>
                </div>
                <div class="subtitulo5">
					<h2>Reporte</h2>
				</div>
				<div class="reporte" style="height:180px;"> 
					<div class="form" style="height:150px">
                        <textarea class="form-control" id="Reporte" rows="3" cols="150" style="height: 100px;width: 900px;"></textarea>
                    </div>
                </div>
                <div class="monitorear">
					<input type="submit" name="boton" value="MONITOREAR"></input>
				</div>
			</form>
		</main>
	</div>
</body>
</html>